@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import "tailwindcss";

@theme {
  --font-inter: "Inter", ui-sans-serif,  system-ui, sans-serif;
  --color-primary: #ffffff;
  --color-secondary: #e9eef6;
  --color-accent: #c4e2e6;
  --color-secondary-dark: #d1dbe9;
}
@layer base {
  body {
    font-family: var(--font-inter);
    font-size: 20px; 
  }
}
@layer components {
  .icon {
    @apply bg-secondary hover:brightness-90 w-[1.9em] h-[1.9em] rounded-full;
  }
  .subheader {
    @apply text-2xl;
  }
}
