@import "tailwindcss";

@theme {
  --color-primary: #ffffff;
  --color-secondary: #e9eef6;
  --color-accent: #c4e2e6;
}

@layer components {
  .card {
    @apply bg-primary shadow-xl border border-secondary rounded-2xl;
  }
}
